.infoHeader {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    margin: 6px 0 0 0;
}

.infoImage {
    width: 100%;
    height: 50vh;
    margin: 16px 0;
    object-fit: cover;
}

.infoLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.infoLinks,
.noArticlesButton {
    background-color: cadetblue;
    height: 40px;
    width: 120px;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.infoLinks:nth-child(2) {
    margin: 0 8px;
}

.infoLinks:hover {
    cursor: pointer;
}

@media screen and (min-width: 525px) {
    .infoLinks {
        font-size: 4vmin;
    }
}

@media screen and (orientation: landscape) {
    .infoHeader {
        font-size: 3vmax;
    }

    .infoLinks {
        font-size: 3vmax;
    }

    @media screen and (min-width: 825px) {
        .infoHeader {
            font-size: 3vmax;
        }

        .infoLinks {
            font-size: 2vmax;
        }
    }
}