@font-face {
    font-family: gothamBook;
    src: url(../font/Gotham-Book.otf);
}

@font-face {
    font-family: gothamMedium;
    src: url(../font/Gotham-Medium.otf);
}

@font-face {
    font-family: gothamBold;
    src: url(../font/Gotham-Bold.otf);
}

body {
    height: 100vh;
    width: 100vw;
    font-family: gothamBook, Arial, Helvetica, sans-serif
}

#loading {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 5;
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

/* Landing Page Elements */

.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImage {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.landingPageItems {
    position: absolute;
}

.logo {
    width: 100%;
    max-width: 1000px;
}

.forms_container {
    height: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.preference_instructions {
    margin-top: 15px;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.preference_form {
    height: 32px;
    width: 40%;
    font-size: 2rem;
    margin: 35px auto;
}

#submit_button {
    font-size: 2rem;
    border-radius: 8px;
}

/* Map Elements, Including Tutorial/Home Buttons */

#map_container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.buttonsContainer {
    position: absolute;
    top: 3vh;
    left: 3vh;
    z-index: 1;
}

.tutorialButton,
.goBackButton {
    box-shadow: 1px 1px 4px grey;
}

#tutorialCollapse {
    background-color: white;
    box-shadow: 1px 1px 4px grey;
    width: 275px;
    border-radius: 5px;
    margin: 4px 0 0 0;
}

.tutorialHeader {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: gothamBold;
    border-bottom: 1px #eee solid;
    padding: 16px;
}

.tutorialBody {
    padding: 16px;
}

/* General Carousel Elements */

#carouselModalContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#carouselModal,
#loading {
    height: 80%;
    width: 80%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
}

#carousel-outer {
    height: 100%;
    background-color: transparent;
}

.carousel-inner {
    height: 100%;
    text-align: center;
}

.carousel-inner>.active {
    /* height: 85%; */
    height: 90%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0 0;
    /* position: absolute; */
    /* top: 35px; */
}

#carousel-outer>a.carousel-control {
    background-image: none;
}

.carousel-indicators {
    bottom: 1%;
}

.carousel-indicators li {
    border: 1px solid black;
}

.carousel-indicators .active {
    background-color: black;
}

.fa-times {
    color: gray;
}

/* Weather */

.weatherContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.date {
    font-family: gothamMedium, Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #6e6362;
}

.weatherMiddle.jumbotron {
    width: 70%;
    border-radius: 12px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.wi {
    font-size: 120px;
    margin-right: 16px;
}

.currentTempAndCondition {
    text-align: left;
    margin-left: 16px;
    width: 45%;
}

.currentTemp {
    font-size: 64px;
    margin: 0 0 -8px 0;
}

.condition {
    font-size: 15px;
}

.weatherBottom {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.leftContainer,
.rightContainer {
    width: 30%;
}

.weatherData:nth-child(6) {
    margin-bottom: 0;
}

.header {
    text-transform: uppercase;
    color: #58a4b0;
    font-size: 16px;
    font-family: gothamMedium;
}

.weatherData {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.close_wModal:hover,
.close_wModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalClose {
    position: absolute;
    top: 0px;
    right: 5px;
    color: white;
    font-size: 28px;
    border-style: none;
    background-color: transparent;
}

@media screen and (max-width: 720px) {
    #carouselModal {
        height: 80%;
        width: 90%;
    }

    .weatherMiddle {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .wi {
        margin: 0;
    }

    .currentTempAndCondition {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 85%;
    }

    .currentTemp {
        font-size: 6rem;
    }

    .condition {
        text-align: center;
        font-size: 18px;
    }

    .leftContainer,
    .rightContainer {
        width: 45%;
    }
}

/* News */

.newsImageContainer {
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.captionContainer {
    width: 75%;
    margin: 15px 0 0 0;
}

.newsTitle {
    text-transform: capitalize;
    color: #58a4b0;
    font-size: 2rem;
    font-family: gothamMedium, Arial, Helvetica, sans-serif;
}

.newsDate {
    margin: 5px 0;
    font-size: 1.5rem;
}

.newsSource {
    text-transform: uppercase;
    margin: 0;
    color: #6e6362;
    font-size: 1.5rem;
    font-family: gothamMedium, Arial, Helvetica, sans-serif;
}

.noArticles {
    font-size: 30px;
    width: 80%;
    left: 10%;
    margin-bottom: 50px;
}

.noArticlesButton {
    margin: auto;
}

.noArticlesButton:hover {
    cursor: pointer;
}

.noArticles,
.noArticlesButton {
    font-family: gothamMedium, Arial, Helvetica, sans-serif;
    position: relative;
    top: 20%;
}