#modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.4);
}

#imageModalContent {
    font-size: 2rem;
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    font-size: 2rem;
}

#newsModalContent {
    font-size: 2rem;
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-size: 2rem;
}

.articleDetails {
    flex-basis: 40%;
    height: 50%;
}

.imageContainer {
    flex-basis: 25%;
    margin-top: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#modalClose {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    color: black;
    width: 3%;
    background-color: white;
}

#moreButton {
    position: absolute;
    bottom: 5%;
    width: 40%;
    left: 30%;
}

@media only screen and (min-width: 768px) {
    #imageModalContent {
        flex-direction: row;
        justify-content: space-around;
    }
    .imageContainer {
        margin: 0;
    }
    #modalClose {
        right: 0;
    }
    #moreButton {
        width: 20%;
        left: 40%;
    }
    #newsModalContent {
        flex-direction: row;
    }
}