#modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#imageModalContent {
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

#newsModalContent {
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.newsTitle {
    text-transform: capitalize;
    color: #6e6362;
    font-size: 2rem;
    font-family: gothamMedium, Arial, Helvetica, sans-serif;
}

.newsDate {
    margin: 5px 0;
    font-size: 1.5rem;
}

.newsSource {
    text-transform: uppercase;
    margin: 0;
    color: #58a4b0;
    font-size: 1.5rem;
    font-family: gothamMedium, Arial, Helvetica, sans-serif;
}

.newsImageContainer {
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.captionContainer {
    width: 75%;
    margin: 15px 0 0 0;
}

.imageContainer {
    flex-basis: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 5% 10px 0;
}

#modalClose {
    position: absolute;
    top: 0px;
    right: 5px;
    color: white;
    font-size: 28px;
    border-style: none;
    background-color: transparent;
}

#moreButton {
    position: absolute;
    bottom: 3%;
    width: 40%;
    left: 30%;
    border-radius: 8px;
    border: none;
}

@media only screen and (min-width: 400px) {
    #newsModalContent {
        flex-direction: row;
        height: 50%;
        top: 25%;
    }
}

@media only screen and (min-width: 769px) {
    #imageModalContent {
        flex-direction: row;
        justify-content: space-around;
        height: 60%;
        top: 20%;
    }

    .imageContainer {
        margin: 15px 0;
        max-height: 80%;
    }

    #moreButton {
        width: 20%;
        left: 40%;
    }
}

@media only screen and (min-width: 1200px) {
    .articleContainer {
        height: 50%;
    }

    #newsModalContent {
        height: 80%;
        top: 10%;
    }
}