body {
    height: 100vh;
    margin: 0;
    font-size: 0;

    background-image: url(images/photo-1469528209190-4a45a86d817b.jpeg);
    background-size: cover;

}

.logo{
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 12vh;
}

.forms_container {
    height: 60vh;
}

.preference_instructions {
    text-align: center;
    font-size: 2vmax;
    font-family: Gotham;
    margin-top: 5vh;
}

.preference_form {
    width: 40%;
    margin: auto;
    display: block;
    font-size: 1.8vmax;
    font-family: Gotham;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.ddcontent {
    text-align: center;
}

#submit_button {
    border: none;
    width: 10%;
    height: 10%;
    margin: auto;
    display: block;
    font-size: 1.5vmax;
    border-radius: 8px;
}

#map_container {
    display: none;
    height: 90vh;

}

.modal-weather{
    height: 100%;
    width: 100%;
    position: center;
    background-color: darkslategray;
    border-width:5px;
    border-style:inset;
    vertical-align: middle;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    /*position: fixed; !* Stay in place *!*/
    /*left: 0;*/
    /*top: 0;*/
    position: center;
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-width:5px;
    border-style:inset;
    vertical-align: middle;
}

.modal-weather-content {
    background-color: #fefefe;
    /*margin: 15% auto; !* 15% from the top and centered *!*/
    padding: 10px;
    width: 30%; /* Could be more or less, depending on screen size */
    /*border: 5px solid #888;*/
    border-width: 5px;
    border-style: inset;
    vertical-align: middle;
    background-image: url("images/blueSkyRainbow.jpg");
}
#weather_data {
    height: 98%;
    width: 98%;
    background-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    vertical-align: middle;
    border-width:5px;
    border-style:inset;
}

/* The Weather Modal Close Button */
.close_wModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close_wModal:hover,
.close_wModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}