.yosemiteHeader {
    text-align: center;
    font-size: 2.5vmin;
    font-weight: bold;
}
.infoLinks {
    text-align: center; 
    font-size: 2vmin;
    color: blue;
    text-decoration: underline;
}
.infoLinks:hover {
    cursor: pointer;
}