body {
    margin: 0;
    font-size: 0;
    background-color: #18af46;
}

.title_logo {
    height: 40vh;
    line-height: 20vh;
    font-size: 4.5vmax;
    text-align: center;
}

.forms_container {
    height: 60vh;
    
}
    .region_instructions {
        height: 10vh;
        text-align: center;
        line-height: 5vh;
        font-size: 3.5vmax;
    }
    .region_form {
        width: 90%;
        margin-left: 5%;
        background-color: white;
        font-size: 2.5vmax;
        margin-bottom: 8vh;
    }
    button {
        width: 33%;
        margin-left: 33%;
        font-size: 2.5vmax;
        background-color: white;
    }


#map_container {
    display: none;
    height: 100vh;
}
    