body {
    height: 100vh;
    width: 100vw;
}

.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImage {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.landingPageItems {
    position: absolute;
}

.logo {
    width: 100%;
    max-width: 1000px;
}

.forms_container {
    height: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.preference_instructions {
    text-align: center;
    font-size: 2rem;
    font-family: Gotham;
    margin-top: 15px;
}

.preference_form {
    width: 40%;
    margin: auto;
    display: block;
    font-size: 2rem;
    font-family: Gotham;
    margin: 35px auto;
}

.ddcontent {
    text-align: center;
}

#submit_button {
    font-size: 2rem;
    border-radius: 8px;
}

#map_container {
    display: none;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 70%;
}

.tutorial {
    position: absolute;
    top: 0;
    background-color: #f0e8d9;
    height: 100vh;
    width: 30%;
}

#map_container,
.tutorial {
    transition: width 1s;
}

.tutorialContainer {
    display: flex;
    align-items: center;
    flex-flow: column;
    position: relative;
    top: 48%;
    transform: translate(0, -50%);
}

.tutorialLogo {
    width: 32vw;
}

.tutorialContent {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 32px 0 60px 0;
}

.tutorialTitle {
    text-align: center;
    font-size: 1.6em;
}

.tutorialBody {
    text-align: center;
    width: 24vw;
    margin: 32px 0 0 0;
}

.toggleTutorialContainer {
    width: 30%;
    position: absolute;
    top: 84%;
}

.toggleTutorialButton {
    z-index: 1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.close_wModal:hover,
.close_wModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* the Weather Modal (in the background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    left: 0;
    top: 0;
    z-index: 1;
    /* Sit on top */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    /*border-width:5px;*/
    /*border-style:inset;*/
    /*vertical-align: middle;*/
}

.modal-weather-content {
    width: 22%;
    /* Could be more or less, depending on screen size */
    position: relative;
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*margin: 1% auto; !* 15% from the top and centered *!*/
    /*top: 10%;*/
    /*padding: 10px;*/
    /*border: 5px solid #888;*/
    /*border-width: 5px;*/
    /*border-style: inset;*/
    /*background-color: darkslategray;*/
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    background-image: url("images/blueSkyRainbow.jpg");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#weather_data {
    /*height: 98%;*/
    /*width: 98%;*/
    background-color: transparent;
    /*font-size: 2.5rem;*/
    font-weight: bold;
    font-size: 3vmin;
    color: black;
    text-align: center;
    vertical-align: middle;
    /*border-width:5px;*/
    /*border-style:inset;*/
}

/* The Weather Modal Close Button */
.close_wModal {
    /*color: #aaa;*/
    /*float: right;*/
    /*font-size: 28px;*/
    /*font-weight: bold;*/
    position: absolute;
    top: 0;
    right: 10px;
    /*right: 3px;*/
    font-size: 22px;
    border-style: none;
    color: black;
    width: 4%;
    background-color: transparent;
    /*border-radius: 10px;*/
}

audio {
    width: 100%;
}

#carouselModalContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#carouselModal {
    width: 80%;
    height: 80%;
    position: absolute;
    right: 10%;
    top: 10%;
    background-color: white;
}

#myCarousel {
    height: 80%;
    top: 10%;
    width: 100%;
    background-color: transparent;
}

.carousel-inner {
    height: 100%;
}

.item {
    height: 100%;
}

#myCarousel>a.carousel-control {
    background-image: none;
}

.carousel-indicators {
    bottom: -10%;
}

.carousel-indicators li {
    border: 1px solid black;
}

.carousel-indicators .active {
    background-color: black;
}