body{
    margin:0;
    height: 90vh;
    width: 30vw;
    background-color: lavender;
    vertical-align: middle;
    background-image: url("blue_sky_rainbow.jpg");
}
#weather_data {
    height: 98%;
    width: 98%;
    background-color: mintcream;
    font-size: 2rem;
    color: black;
    text-align: center;
    vertical-align: middle;
    border-width:5px;
    border-style:inset;

}
.display_screen{
    height: 100%;
    width: 100%;
    position: center;
    background-color: darkslategray;
    border-width:5px;
    border-style:inset;
    vertical-align: middle;
}

